body {
	background-color: #282828;
	font-family: courier,monospace;
	color: #C9C6AF;
}

header {
	font-size: 17px;
	border-bottom: solid 1px;
	padding: 0 2px;
}

#navigation-list {
	display: inline-block;
}

#navigation-list > li {
	display: block;
	float: left;
}

#navigation-list > li > a {
	display: block;
	padding: 0 10px;
}

main {
	margin-top: 20px;
	margin-left: 20px;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 5px;
	padding-top: 5px;
	border-top: solid 1px;
}

a {
color: #ff8951;
text-decoration: none;
}

code {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 1px 5px;
}

pre {
	border-style: solid;
	border-width: 1px;
	padding: 2px;
}

