<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top has-background-dark">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">

		<link rel="shortcut icon" href="/images/favicon.ico">

		{{ block "title" . }}
		<title>
			{{ .Title }}
		</title>
		{{ end }}
	</head>

	<body class="has-background-dark has-text-light">
		<header>
			{{ block "header" . }}
			{{ partial "header.html" . }}
			{{ end }}
		</header>

		<main class="m-4">
			<noscript>
				Welcome, human!
			</noscript>
			<div class="content">
				{{ block "main" . }}
				{{ end }}
			</div>
		</main>

		<footer class="footer has-background-dark has-text-light">
			{{ block "footer" . }}
			{{ partial "footer.html" . }}
			{{ end }}
		</footer>
	</body>
</html>
