@import "bulma/css/bulma.css";

:root {
	/* complementary colors */
	--jet: #363636; /* bulma's "has-background-dark" */
	--cedar-chest: #D5573B;
	--deep-champagne: #FBD1A2;
	--beau-blue: #BFDBF7;
	--amethyst: #8B5FBF;
}

header {
	border-bottom: solid 1px;
}

footer {
	border-top: solid 1px;
}

h1, h2, h3, h4, h5, h6 {
	color: white !important;
}

a {
	color: var(--cedar-chest) !important;
	text-decoration: none;
}

code {
	color: var(--amethyst);
	background-color: whitesmoke; /* bulma's pre > code color */
	padding: 1px 5px;
}

pre {
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}

article {
	width: 70%;
	margin: auto;
}
