@import "bulma/css/bulma.css";


header {
	border-bottom: solid 1px;
}

main {
	margin: 20px;
}

footer {
	padding: 0px 2px;
	border-top: solid 1px;
}

h1, h2, h3, h4, h5, h6 {
	color: white !important;
}

a {
	color: #D5573B !important;
	text-decoration: none;
}

code {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 1px 5px;
}

pre {
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}

article {
	width: 70%;
	margin: auto;
}
