<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="{{ BASE_URL }}/assets/style.css" type="text/css" media="screen" charset="utf-8">

		<link rel="shortcut icon" href="{{ BASE_URL }}/images/favicon.ico">

		<title>
			{{ SITE_TITLE }}{% block entry %}{% ifdef TITLE %} - {{ TITLE }}{% endif %}{% endblock %}
		</title>
	</head>

	<body>
		<header>
			<nav>
				<ul id="navigation-list">
					<li><a href="{{ BASE_URL }}/index.html">Home</a></li>
					<li><a href="{{ BASE_URL }}/blog/page/1/">Blog</a></li>
					<li><a href="{{ BASE_URL }}/wiki/index.html">Wiki</a></li>
					<li><a href="https://bin.wiredspace.de/" target="_blank">PrivateBin</a></li>
					<li><a href="{{ BASE_URL }}/about.html">About</a></li>
					<li><a href="https://concealed.world/Other/lainchanwebring.php">Webring</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<noscript>
				Welcome, human!
			</noscript>
			{% block listing_empty %}
			No blog entries available
			{% endblock %}
			{% block listing %}
			<article>
				{% ifdef IS_POST %}
				<h2><a href="{{ BASE_URL }}/blog/post/{{FILENAME}}/">{{TITLE}}</a></h2>
				{% endif %}

				{{CONTENT}}

				{% ifdef IS_POST %}
				<div>
					{% ifdef DATE_FORMATTED %}
					Posted on: {{DATE_FORMATTED}}<br/>
					<a href="{{ BASE_URL }}/blog/post/{{FILENAME}}/">Permanent link</a>
					{% endif %}
				</div>
				{% endif %}
			</article>
			{% endblock %}
			{% block entry %}
			{% ifdef IS_POST %}
			<h2><a href="{{ BASE_URL }}/blog/post/{{FILENAME}}/">{{TITLE}}</a></h2>
			{% endif %}

			{{CONTENT}}

			{% ifdef IS_POST %}
			<div>
				{% ifdef DATE_FORMATTED %}
				Posted on: {{DATE_FORMATTED}}<br/>
				<a href="{{ BASE_URL }}/blog/post/{{FILENAME}}/">Permanent link</a>
				{% endif %}
			</div>
			{% endif %}
			{% endblock %}
			{% block listing_once %}
			<ul>
				{% ifdef PREVIOUS_PAGE %}
				<li>
					<a href="/blog/page/{{PREVIOUS_PAGE}}/">&larr; Newer</a>
				</li>
				{% endif %}
				{% ifdef NEXT_PAGE %}
				<li>
					<a href="/blog/page/{{NEXT_PAGE}}/">Older &rarr;</a>
				</li>
				{% endif %}
			</ul>
			{% endblock %}
		</main>

		<footer>
			<ul id="navigation-list">
				<li><a href="{{BASE_URL}}/privacy.html">Privacy Policy</a></li>
				<li><a href="{{BASE_URL}}/blog/blog.rss">RSS Feed</a></li>
			</ul>
		</footer>
	</body>
</html>
