<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
	<channel>
		<title>{{SITE_TITLE}}</title>
		<link>{{BASE_DOMAIN}}/{{RSS_FILE_LOCATION}}</link>
		<description>Blog updates on wiredspace.de</description>
		{% block listing %}
		<item>
			<title>{{TITLE}}</title>
			<link>{{BASE_DOMAIN}}/blog/post/{{FILENAME}}</link>
			<pubDate>{{DATE_FORMATTED}}</pubDate>
			<description>{{CONTENT}}</description>
		</item>
		{% endblock %}
	</channel>
</rss>
